<a href="https://colab.research.google.com/github/Aryabs1650/firstrepo/blob/master/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [13]:
#loading the data
credit_card_data=pd.read_csv('/content/creditcard.csv')

In [14]:
#first five rows of the dataset

credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [15]:
#last five rows of the dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
229784,146049.0,1.599029,-1.090628,-0.605125,0.039187,0.080753,2.089159,-1.043426,0.700521,1.328105,...,0.208138,0.514347,0.190354,-0.961608,-0.583583,-0.363648,0.069437,-0.024980,137.70,0.0
229785,146049.0,1.443005,-1.150783,-0.571780,1.550605,-1.014271,-0.402445,-0.299539,0.031212,1.242513,...,0.358103,0.481559,-0.067539,-0.151605,-0.272888,-0.574290,-0.005454,0.009757,270.00,0.0
229786,146049.0,1.584904,-1.084091,0.503785,1.570239,-1.230679,0.953634,-1.245556,0.456233,1.786687,...,0.287412,0.914542,-0.004553,-0.390232,-0.265638,-0.529079,0.090741,-0.008781,139.00,0.0
229787,146050.0,-0.940469,0.982785,0.825928,-1.099412,1.464196,-0.603169,1.082077,-0.001681,-0.968405,...,-0.272204,-0.917577,-0.285301,0.689790,0.593545,0.178436,-0.060327,0.063948,0.89,0.0
229788,146051.0,-0.729758,-0.073942,0.430270,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229789 entries, 0 to 229788
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    229789 non-null  float64
 1   V1      229789 non-null  float64
 2   V2      229789 non-null  float64
 3   V3      229789 non-null  float64
 4   V4      229788 non-null  float64
 5   V5      229788 non-null  float64
 6   V6      229788 non-null  float64
 7   V7      229788 non-null  float64
 8   V8      229788 non-null  float64
 9   V9      229788 non-null  float64
 10  V10     229788 non-null  float64
 11  V11     229788 non-null  float64
 12  V12     229788 non-null  float64
 13  V13     229788 non-null  float64
 14  V14     229788 non-null  float64
 15  V15     229788 non-null  float64
 16  V16     229788 non-null  float64
 17  V17     229788 non-null  float64
 18  V18     229788 non-null  float64
 19  V19     229788 non-null  float64
 20  V20     229788 non-null  float64
 21  V21     229788 non-null  float64
 22  V22     229788 non-null  float64
 23  V23     229788 non-null  float64
 24  V24     229788 non-null  float64
 25  V25     229788 non-null  float64
 26  V26     229788 non-null  float64
 27  V27     229788 non-null  float64
 28  V28     229788 non-null  float64
 29  Amount  229788 non-null  float64
 30  Class   229788 non-null  float64
dtypes: float64(31)
memory usage: 54.3 MB

In [17]:
#checking the number of missing values in each columns
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        1
V5        1
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [18]:
#dealing with missing values

credit_card_data = credit_card_data.dropna(how='any')

In [19]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [20]:
#distribution  of legit transaction and fradulent transactions
credit_card_data['Class'].value_counts()

0.0    229369
1.0       419
Name: Class, dtype: int64

This Dataset is highly unbalanced

0--> Normal Transaction

1--> Fraudulent Transaction

In [21]:
#seperating the data for analysis
legit = credit_card_data[credit_card_data.Class ==0]
fraud = credit_card_data[credit_card_data.Class ==1]

In [22]:
print(legit.shape)
print(fraud.shape)

(229369, 31)
(419, 31)

In [24]:
#statistical measures of the data
legit.Amount.describe()

count    229369.000000
mean         90.841249
std         252.364595
min           0.000000
25%           6.000000
50%          23.410000
75%          79.950000
max       19656.530000
Name: Amount, dtype: float64

In [25]:
fraud.Amount.describe()

count     419.000000
mean      125.064702
std       256.408410
min         0.000000
25%         1.000000
50%        11.400000
75%       106.725000
max      2125.870000
Name: Amount, dtype: float64

In [26]:
#compare the values for both yransactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,79627.910982,-0.055173,-0.021839,0.188487,0.033858,-0.054016,0.031582,-0.014077,0.002474,0.007056,...,0.009120,-0.007342,-0.021644,-0.009483,0.000974,0.036448,0.002658,-0.000416,0.001668,90.841249
1.0,67684.064439,-5.348901,3.951226,-7.440358,4.657933,-3.752068,-1.360616,-6.236557,0.660730,-2.694609,...,0.375285,0.762630,0.011336,-0.060182,-0.084427,0.053137,0.038469,0.202638,0.058139,125.064702

Under Sampling

Build a sample dataset containing similar distribution of normal and fraudulent transactions

No: of Fraudulent Transaction --> 419

In [27]:
legit_sample=legit.sample(n=419)

Concatenating two Dataframe

In [30]:
new_data=pd.concat([legit_sample,fraud], axis=0)

In [31]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
203416,134809.0,-1.492644,1.350550,1.147179,-0.600456,-0.882991,-0.118887,-0.956846,-1.744138,0.360365,...,2.766758,0.529410,0.123761,0.510981,-0.183346,-0.198192,0.150566,0.114903,0.00,0.0
13914,24685.0,1.164015,1.378190,-1.434273,1.676561,1.236670,-0.966499,0.565373,-0.233169,0.437633,...,-0.270867,-0.391236,-0.191420,-0.343198,0.762159,-0.323557,0.031666,0.079023,1.79,0.0
158572,111463.0,-0.377213,-0.096836,-0.882494,-2.908475,2.464584,3.483493,-0.032320,0.831001,0.102947,...,0.084477,0.186672,0.038736,0.538895,-0.187363,-0.361336,0.106693,0.175711,90.75,0.0
140780,83925.0,1.319224,0.220306,0.159940,0.425233,-0.081556,-0.515930,0.036905,-0.145969,0.118415,...,-0.313751,-0.907364,0.034151,-0.463210,0.325732,0.146919,-0.030843,0.010294,1.79,0.0
224782,143961.0,-0.921350,1.137870,0.102449,-2.553770,0.664405,-1.002459,0.942728,0.258587,-0.198690,...,-0.238259,-0.755510,-0.055793,0.628297,-0.024029,0.348001,0.104864,0.108106,1.00,0.0

In [32]:
new_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
223618,143456.0,-2.006582,3.676577,-5.463811,7.232058,-1.627859,-0.996755,-4.299833,2.268867,-3.651067,...,0.713907,-0.063868,0.167947,-0.449864,0.023702,0.536905,0.485864,-0.042393,1.00,1.0
226814,144808.0,-2.405207,2.943823,-7.616654,3.533374,-5.417494,-0.112632,-1.329372,1.709417,-2.322716,...,0.652683,0.414132,0.023869,-0.260616,0.405316,0.029107,0.519807,-0.469537,667.55,1.0
226877,144839.0,-6.423306,1.658515,-5.866440,2.052064,-0.615817,-3.372266,-5.036556,2.643106,-2.274630,...,0.641211,-0.256678,-2.337233,-0.158278,1.198797,-0.261258,0.780125,-0.731801,0.00,1.0
229712,146022.0,0.908637,2.849024,-5.647343,6.009415,0.216656,-2.397014,-1.819308,0.338527,-2.819883,...,0.407260,-0.397435,-0.080006,-0.168597,0.465058,0.210510,0.648705,0.360224,1.18,1.0
229730,146026.0,1.894036,1.905806,-3.515730,4.508913,2.044466,-1.420468,1.057480,-0.281157,-1.832604,...,-0.144713,-0.310108,-0.101530,-0.414960,0.376597,0.150778,-0.013712,0.048084,2.22,1.0

In [33]:
new_data['Class'].value_counts()

0.0    419
1.0    419
Name: Class, dtype: int64

In [34]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,76692.078759,-0.203680,-0.073676,0.284921,0.082318,-0.042325,0.007429,-0.067476,0.05107,0.063747,...,0.011650,-0.030731,-0.055950,0.005133,0.090258,0.011821,0.010649,-0.000632,0.013704,95.380024
1.0,67684.064439,-5.348901,3.951226,-7.440358,4.657933,-3.752068,-1.360616,-6.236557,0.66073,-2.694609,...,0.375285,0.762630,0.011336,-0.060182,-0.084427,0.053137,0.038469,0.202638,0.058139,125.064702

Splitting the data

In [35]:
X= new_data.drop(columns='Class',axis=1)
Y= new_data['Class']

To split the data into training data and testing data

In [39]:
X_train,X_test, Y_train, Y_test = train_test_split(X,Y , test_size=0.2, stratify=Y,random_state=2)

In [40]:
print(X.shape,X_train.shape, X_test.shape)

(838, 30) (670, 30) (168, 30)

Model Training

Logistics Regression

In [42]:
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

model evaluation

Accuracy Score

In [44]:
X_train_pred= model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_pred,Y_train)

In [45]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9477611940298507

In [47]:
X_test_pred= model.predict(X_test)
test_data_accuracy= accuracy_score(X_test_pred,Y_test)

In [48]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.9226190476190477